html,
body {
  background-color: $background_color;
}

.card--webapp {
  padding: 42px 32px 32px;
  margin-bottom: 24px;
  border: none;
}

.container--webapp {
  padding: none;
}

.navbar--top_nav {
  margin-bottom: 24px;
}
