<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="container d-flex justify-content-between container--contact">

        <button class="btn btn-primary" type="submit">Button</button>

        <form class="form-inline">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>

      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <%= render 'layouts/contacts_filter' %>
      </div>


      <div class="col-md-9">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


