<div class="row">
  <div class="col-md-12">
    <div class="card card--webapp">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <%= render 'layouts/contact_profile'%>
          </div>
          <div class="col-md-6">
            <%= render 'layouts/activity_feed'%>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
