
<div class="card">

  <div class="card-header text-center">
    Filter
  </div>

  <div class="card card-body">


    <div class="list-group">

      <a class="list-group-item" data-toggle="collapse" data-target="#collapsedFilterList">
        Status
      </a>
      <div class='collapse' id="collapsedFilterList" >
        <div class="list-group" >
          <p>Item 1.1.1</p>
          <p>Item 1.1.1</p>
          <p>Item 1.1.1</p>
        </div>
      </div>

      <a class="list-group-item" data-toggle="collapse" data-target="#collapsedTagList">
        Tag
      </a>
      <div class='collapse' id="collapsedTagList" >
        <div class="list-group" >
          <p>Item 1.1.1</p>
          <p>Item 1.1.1</p>
          <p>Item 1.1.1</p>
        </div>
      </div>

    </div>
  </div>

</div>


