<table class="table table-borderless rounded">
  <thead class="thead-dark">
    <tr class='text-center'>
      <th>Filter</th>
    </tr>
  </thead>
  <tbody>
    <tr class='table-light'>
      <td>
        <a data-toggle="collapse" data-target="#collapsedFilterList">
          Status
        </a>

        <div class='collapse' id="collapsedFilterList" >
          <div class="list-group" >
            <p>Item 1.1.1</p>
            <p>Item 1.1.1</p>
            <p>Item 1.1.1</p>
          </div>
        </div>

      </td>

      <tr class='table-light'>
        <td>
          <a data-toggle="collapse" data-target="#collapsedTagList">
            Tag
          </a>

          <div class='collapse' id="collapsedTagList" >
            <div class="list-group" >
              <p>Item 1.1.1</p>
              <p>Item 1.1.1</p>
              <p>Item 1.1.1</p>
            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>


