  <h1>Hello</h1>
  <div class="small">Number: 123123123</div>
  <button class="btn btn-primary center">Send SMS</button>

<p>Tags:</p>
<div>
  <span class="badge badge-default">Default</span>
  <span class="badge badge-primary">Primary</span>
  <span class="badge badge-success">Success</span>
  <span class="badge badge-info">Info</span>
  <span class="badge badge-warning">Warning</span>
  <span class="badge badge-danger">Danger</span>
</div>

<p>Services Rendered:</p>
<div>
  <span class="badge badge-info">Info</span>
  <span class="badge badge-info">Info</span>
  <span class="badge badge-info">Info</span>
</div>

