        <table class="table table-boardered rounded">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr class='table-light'>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr class='table-light'>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr class='table-light'>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr class='table-light'>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>

          </tbody>
        </table>

